<h1>Listing replies</h1>

<ul>
<% @replies.each do |reply| %>
    <li><%=h reply.user.name + ' ' + reply.user.surname %>, <%=h reply.updated_at.to_s(:short) %><br /><%=h reply.content %></li>
<% end %>
</ul>

<br />

<%= link_to 'New reply', new_bullet_reply_path(@bullet) %>