<h1>New reply</h1>

<%= error_messages_for :reply %>

<%= render :partial => @reply, :locals => { :button_name => "New"} %>

<%= link_to 'Back', department_lecture_board_bullet_path(@department, @lecture, @board, @bullet) %>