<p>
  <b>Content:</b>
  <%=h @reply.content %>
</p>
<p>
  <b>User:</b>
  <%=h @reply.user %>
</p>



<%= link_to 'Edit', [:edit, @bullet, @reply] %> |
<%= link_to 'Back', bullet_path(@reply.bullet) %>