<ul id="nav_general" class="subnavigation">
	<li>Archives ...</li>
	<li><%= link_to t('list.departments'), departments_path %>
</ul>

<% permitted_to? :create, :articles do %>
<ul id="nav_management" class="subnavigation">
	<li><%= link_to t('create.article'), new_admin_blog_article_path(@blog) %></li>
</ul>
<% end %>