<ul id="nav_general" class="subnavigation">
	<li><%= link_to t('forums.add_new_topic'), new_department_lecture_board_bullet_path(@lecture.department, @lecture, @lecture.board) %></li>
	<li><%= link_to t('files.area'), department_lecture_folder_path(@lecture.department, @lecture, @lecture.folder) %></li>
</ul>

<% permitted_to? :edit, :lectures do -%>
<ul id="nav_management" class="subnavigation">
	<li><%= link_to t('edit.lecture'), edit_admin_lecture_path(@lecture) %></li>
	<li><%= link_to t('delete.lecture'), new_admin_lecture_path} %></li>
</ul>
<% end %>