<h1>New bullet</h1>

<%= error_messages_for :reply %>
<%= render :partial => @bullet, :locals => { :button_name => "Create"} %>

<%= link_to 'Back', department_lecture_path(@department, @lecture) %> |