<ul id="nav_general" class="subnavigation">
	<li><%= link_to  t('lectures.lecture'), department_lecture_path(@department, @lecture) %></li>
</ul>

<% permitted_to? :edit, :folders do -%>
<ul id="nav_management" class="subnavigation">
	<li><%= link_to t('files.upload'), new_admin_folder_data_item_path(@folder) %></li>
	<li><%= link_to t('files.folder.new'), new_admin_folder_path(@folder, :parent => @folder) %></li>
</ul>
<% end %>