<h1>Listing departments</h1>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tfoot>
	</tfoot>
	<tbody>
		<% @departments.each do |department| %>
		<tr>
			<td><%= link_to department.title, department %></td>
			<td><%=h department.description %></td>
		</tr>
		<% end %>
	</tbody>
</table>