<% content_for :logo do -%>
	<%=h "#{@topic.forum.title} (#{@topic.forum.department.short})" %>
<% end %>

<h2><%=h @topic.title %></h2>

<%= render :partial => 'posts/list' %>

<%= link_to t('new.post'), new_forum_topic_post_path(@forum, @topic) %>