<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.fullname, user %></td>
    <td><%=h user.email %></td>
  </tr>
<% end %>
</table>