<h1>Stundenplan</h1>
<table id="schedule">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Montag</th>
			<th>Dienstag</th>
			<th>Mittwoch</th>
			<th>Donnerstag</th>
			<th>Freitag</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="6">Basiert auf den gebuchten Veranstaltungen</td>
		</tr>
	</tfoot>
	<tbody>
		<tr class="odd">
			<th>1. Block<br /><span class="small">(7.45 - 9.15)</span></th>
			<td><%= @enrollments.lectures 1 %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="even">
			<th>2. Block<br /><span class="small">(9.30 - 11.00)</span></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="odd">
			<th>3. Block<br /><span class="small">(11.15 - 12.45)</span></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="even">
			<th>4. Block<br /><span class="small">(14.00 - 15.30)</span></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="odd">
			<th>5. Block<br /><span class="small">(15.45 - 17.15)</span></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="even">
			<th>6. Block<br /><span class="small">(17.15 - 18.45)</span></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="odd">
			<th>7. Block<br /><span class="small">(19.00 - 20.30)</span></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>