<ul id="nav_general" class="subnavigation">
	<li><%= link_to t('buildings.overview'), buildings_path %></li>
	<li><%= link_to t('jobs.jobs'), jobs_path %></li>
	<li><%= link_to t('companies.list'), companies_path %></li>
</ul>