<h1>Editing bullet</h1>

<%= error_messages_for :reply %>
<%= render :partial => @bullet, :locals => { :button_name => "Update"} %>

<%= link_to 'Show', @bullet %> |
<%= link_to 'Back', bullets_path %>